header.Header {
  margin-bottom: 25px;
  background-color: #444;
}
.Header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  margin: 0px auto;
  transition: max-width 0.15s linear 0s;
}
.Header__title {
  color: #fff;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  letter-spacing: 1px;
  border-radius: 25px;
  cursor: pointer;
}
.Header__title--highlight {
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 2px;
}

.Header__button {
  width: 75px;
  height: 75px;
  border: 0px;
  box-shadow: 0px 0px 0px 0px #000;
  background-color: transparent;
  background-size: 25px auto;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.Header__button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.Header__button--back {
  background-image: url('./images/left-arrow-icon-white.png');
}
.Header__button--signout {
  background-image: url('./images/signout-icon-white.png');
}

